.git
.gitignore

.vscode
.idea

__pycache__
*.pyc
*.pyo

DSagent
.venv
env

artifacts/
reports/
uploads/

*.db
*.sqlite
*.sqlite3

.pytest_cache
.pytest_cache/
.mypy_cache

.ipynb_checkpoints

Dockerfile*
docker-compose*

*.log
notebooks/
artifacts/
catboost_info/
poetry.lock
pyproject.toml
Makefile
LICENSE
.pre-commit-config.yaml
tests/
upload_Train_Test_data/
*.ipynb